# gitignore

# webstorm project config
.idea/*
.idea/inspectionProfiles/*
.github/*
.github/workflows/*
.firebase
.firebase/*
.firebaserc
.firebase.json
.public
.public/*
.vscode/*
.assets/css/test.css
.test.html