/* ==== BARRA ==== */
header .nav-container{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding: 1.1em 0;
    -webkit-box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.35);
}

.nav-logo{
    /*width: 248px;*/
    padding: 0 0.2em;
    text-align: center;
}

.nav-container .nav-inscripcion{
    display: grid;
    place-items: center;
    text-align: center;
}

.nav-container .nav-btn{
    display: flex;
    align-items: center;
}

.nav-btn button,
.nav-inscripcion button,
#overlay_menu button{
    cursor: pointer;
    border: 2px solid transparent;
    color: var(--w);
    background: transparent;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: border-bottom 500ms ease-in-out,
font-weight 200ms ease;
}

.nav-container .nav-btn button:hover,
.nav-container .nav-btn button:focus,
#overlay_menu button:hover,
#overlay_menu button:focus{
    border-bottom: 2px solid var(--blue);
    font-weight: bold;
}

.nav-inscripcion .inscribir{
    cursor: pointer;
    text-decoration: none;
    color: var(--w);
    background-color: var(--blue);
    border: 2px solid var(--void_blue);
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 1rem;
    font-weight: bold;
    transition: var(--transition);
}

.nav-inscripcion .inscribir:hover,
.nav-inscripcion .inscribir:focus{
    color: var(--w2);
    border: 2px solid var(--blue);
    background-color: transparent;
}

.carrito {
    display: none;
}

/* ############ */
.header:hover{
    -webkit-box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.35);

    background: rgba(0, 0, 0, 0.1);
    /*backdrop-filter: blur(10px);  sacrificio*/

    transition: all 500ms ease;
}

.btn-logo{
    color: var(--w);
    text-decoration: none;
    font-size: 3rem;
    text-align: center;
}

.nav-menu{
    display: none;
}

.overlay_menu_container{
    position: relative;
}

#overlay_menu{
    font-size: 2rem !important;

    background: var(--void);
    opacity: .9;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: grid;
    place-items: center;

    overflow-y: auto;
    z-index: 20;
    transform: scale(0);
    transition: scale 200ms ease;
}

#overlay_menu.active{
    transform: scale(1);
}

#overlay_menu ul li{
    list-style: none;
}