body {
    background-color: var(--void);
    color: var(--w);
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 0.6rem;
}

body::-webkit-scrollbar-track{
    background: transparent;
}

body::-webkit-scrollbar-thumb{
    background: var(--blue);
}

/* ==== BG VIDEO ==== */
.bg_imagen{
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 100%;

    z-index: -1;
    opacity: 0.1;

    background: url("../image/demo_bg.jpeg") 100%;
}

/* ==== VIDEO TITLE ==== */
.section{
    width: 100%;
}

.section-title{
    background: linear-gradient(0deg, rgba(57,61,70,1) 0%, rgba(57,61,70,0) 60%);
    margin: 2rem 0 0;
}

.container-title{
    padding: 2em 0 0;
}

.main-title{

}

.video-title{
    margin: 2em 0;
}

.sec-title{
    padding: 2em 0;
}

.main-title,
.sec-title{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    max-width: 40em;
    margin: 0 auto;

    text-shadow: -4px 4px 10px rgba(0,0,0,0.6);
}

.main-title .span-red,
.sec-title span{
    color: var(--fucshia);
}

.video-title{
    display: grid;
    place-items: center;
}


/* ==== CARDS ==== */
.section-cards{
    box-sizing: border-box;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0;
    place-items: center;
    margin-inline: 0;

    background: var(--void_blue);
}

.section-cards .wrapper{
  padding-top: 40px;
  padding-bottom: 40px;
}
.section-cards .wrapper:focus{
    outline: 0;
}

.card {
    background: white;
    width: 300px;
    display: inline-block;
    margin: auto;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 5;
    color: var(--void);
}

.card-image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: var(--void);
}

.card-image img {
    width: 370px;
    position: absolute;
    top: -50px;
    left: -20px;
}

.sobre-titulo {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 3px;
    color: var(--fucshia);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-desc {
    padding: 20px;
    margin-bottom: 10px;

}

.card-footer {
  background: var(--fucshia);
}

.card-footer {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* ==== SHOWCASE MAIN BUTTON ==== */
.section-showcase{
    color: var(--w2);
}

.showcase-container{
}

.showcase-title{
    font-size: 2.5rem;
    text-decoration: underline;
}

.showcase-container-listnimg{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

    background: linear-gradient(-90deg, rgba(234,143,116,1) 0%, rgba(0,0,0,0) 100%);
}

.showcase-list ul{
    font-size: 1.125rem;
}

.showcase-img{
    height: 380px;
    width: 380px;

    max-height: 450px;
    max-width: 380px;

    overflow: hidden;
    position: relative;
    margin: 1em;
    border-radius: 10px;
}

.showcase-img img{
    width: 600px;
    align-items: center;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.showcase-img > img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
}

.sell-limitado{
    margin: 5rem 0;
    font-size: 1rem;
    text-align: center;
}


.sell-btn-inscribirse{
    display: grid;
    place-items: center;
    margin: 5rem 2rem;
}

.sell-btn-inscribirse a{
    font-size: 3rem;

    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: var(--w);
    border: 0.125em solid var(--blue);
    padding: 0.25em 1em;
    border-radius: 0.25em;

    text-shadow: 0 0 0.125em #00ffffe6, 0 0 0.25em var(--blue);
    box-shadow: inset 0 0 0.5em 0 var(--blue), 0 0 0.5em 0 var(--blue);

    position: relative;
    cursor: pointer;
}

.sell-btn-inscribirse a::before{
    pointer-events: none;
    content: '';
    position: absolute;
    background-color: var(--blue);

    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(2em) rotateX(40deg);
    filter: blur(0.7em);
    opacity: 0.6;
}

.sell-btn-inscribirse a::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--blue);
    background-color: var(--blue);
    z-index: -1;
    opacity: 0;
    transition: opacity 100ms linear;
}


.sell-btn-inscribirse a:hover,
.sell-btn-inscribirse a:focus{
    background: var(--blue);
    text-shadow: none;
}

.sell-btn-inscribirse a:hover::before,
.sell-btn-inscribirse a:focus::before{
    opacity: 1;
}

.sell-btn-inscribirse a:hover::after,
.sell-btn-inscribirse a:focus::after{
    opacity: 1;
}

/* ==== CARTA ==== */
.carta-center{
    background-color: var(--w);
    color: var(--void);
}

.carta-container{
    display: grid;
    place-items: center;
    padding: 0 1em;
}

.carta{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.imagen-carta{
    margin: 2em;
    outline: 2px solid var(--void);
    outline-offset: 0.4em;

    max-width: 300px;
    max-height: 300px;
}

.imagen-carta img{
    width: 300px;
}

.lista{
    padding: 2em 1em;
}

/* ==== NOTICIAS ==== */
.section-noticias{
    text-align: center;
    height: 100vh;
    padding: 3em 1em;
}

.title-noticias h2{
    font-size: 1.5rem;
}

.title-noticias h1{
    font-size: 2rem;
}

.noticias{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-content: center;
    overflow: hidden;
}

.noticia-bloque h3{
    max-width: 300px;
    margin: 20px auto 20px;
    text-align: left;
}

.noticias .noticia-bloque img{
    max-width: 400px;
    border-radius: 10px;
}

/* ==== PRODUCTO ==== */
.section-producto{

}

.producto-main{
    background: var(--w);
    color: var(--void);
    padding: 2em 0;
}

.producto-title{
    font-size: 1.5rem;

    text-align: center;
    text-transform: uppercase;
}

.producto-title img{
    max-width: 500px;
}

.producto-title h1{
    color: var(--fucshia);
}

.modulos-producto{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
    grid-gap: 3em;
    place-content: center;
}

.modulos-producto ul{
    font-size: 1.2rem;
    margin: 0 auto;
}

.modulos-producto ul li{
    font-size: 0.8em;
 }

.modulos-producto ul h2 span{
    color: var(--fucshia);
}


.bonus-title{
    text-align: center;
}

.bonus-title h1{
    text-decoration: 0.125em underline var(--fucshia);
    text-underline-offset: .3em;
}

.producto-bonus{
    margin: 40px auto;
    color: var(--w);
}

.unit-container{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.bonus-unit{
    display: flex;
    flex-direction: row;
    max-width: 600px;
    margin: 1.2em 0;
    padding: 2em 2em;

    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    box-shadow: var(--shadow);
}

.bonus-unit .not-show{
    display: none;
}

.bonus-unit img{
    width: 150px;
}

.producto-pricing{
    font-size: 1rem;
    background: red;
    text-transform: uppercase;
    text-align: center;
    padding: 0.3em 0;
}

.producto-pricing > *{
    margin: 0;
    padding: .3em 0;
}

.oferta-especial{
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);


    color: var(--w);
    margin: 0;
    padding: .3em 0;
    text-align: center;

    animation: animatedgradient 10s ease alternate infinite;
    background-size: 300% 300%;
}

.oferta-lista{
    text-align: left;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.oferta-lista ul h1{
    text-align: center;
}

.oferta-especial h1 span{
    background: red;
    color: var(--w2);
    text-decoration: line-through;
    padding: .2em 0.15em;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    border-radius: .2em;
}

.oferta-especial h2{
    font-weight: normal;
}

.precio{
    font-size: 2.2rem;
    font-weight: bold;

    text-decoration: underline;
}

.main-btn-container{
    margin: 3em 0;
}

.main-btn {
    font-size: 3rem;

    text-decoration: none;
    color: var(--w);
    background: var(--blue);

    padding: 0.4em 0.5em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
}

.main-btn:hover{
    border-radius: 5px;
    box-shadow: 0 0 5px    var(--blue),
    0 0 25px var(--blue),
    0 0 50px var(--blue),
    0 0 100px var(--blue);

    transition: all 200ms ease-in-out;
}

.main-btn:hover ~ .oferta-especial{
    background: none;
}

/* ==== GRID ==== */
.section-grid h1{
    text-align: center;
    font-size: 3rem;
    padding: 2em 0;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 2em;
    place-items: center;
}

.grid-container div{
    font-size: 3.5rem;
    display: inline-block;
    background-color: var(--void);

    min-width: 280px;
    min-height: 280px;
    max-width: 280px;
    max-height: 280px;

    box-shadow: var(--shadow);
    overflow: hidden;
    position: relative;
    margin: 0;
    border-radius: 0.125em;
}

.grid_text{
    text-transform: uppercase;
    font-weight: bold;
    font-style:italic;
    text-align: right;
    vertical-align: middle;

    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    animation: animatedgradient 5s ease alternate infinite;

    background-size: 300% 300%;
}

@keyframes animatedgradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}


.grid-container div > img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
}

.grid-container div img{
    width: 300px;
}


/* ==== ESTUDIANTES ==== */
.section-estudiantes {
    font-size: 1.5rem;
    color: var(--w);

    max-width: 800px;
    margin: 2.5em auto;
    padding: 0 .2em;
}

.estudiantes_title{
    text-align: center;
    color: orange;
    font-size: 1.2rem;
    text-decoration: underline;
    font-weight: bold;
}

.estudiante_row{
    margin: 0 0 2em;
}

.estudiante_row p{
    position: relative;
    padding: 20px 20px 20px 65px;
    background: var(--void_blue);
    border-radius: 10px;
    margin-bottom: 35px;
    color: white;
    box-shadow: var(--shadow);
}

/* Speach bouble Quote */
.estudiante_row p:before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  font-size: 60px;
  font-weight: bold;

  /*Positioning*/
  position: absolute;
  left: 20px;
  top: 5px;
}

/* Speech bouble triangle */
.estudiante_row p:after{
  content: ' ';
  border: 10px solid;
  border-color: var(--void_blue) transparent transparent var(--void_blue);
  position: absolute;
  bottom: -20px;
  left: 30px;
}

.wrappper{
  margin-bottom: 50px;
}

.wrappper img{
  width: 150px;
  height: 150px;
  float: left;
  border-radius: 20px;
  margin-right: 20px;
}

.wrappper h3{
  padding: 15px 0 0 0;
  color: orange;
}

.wrappper small{
  display: block;
  color: #999;
  margin-top: -10px;
}

.wrappper ul{
  list-style: none;
}

.wrappper ul li{
  display: inline;
  font-size: 1.3em;
}

.puntuacion_1 li:nth-child(-n+5),
.puntuacion_2 li:nth-child(-n+4){
  color: orange;
}

/* ==== GARANTIA ==== */
.section-garantia{
    margin: 0 0 2em 0;
}

.garantia-container{
    font-size: 1.2rem;

    max-width: 800px;
    margin: 0 auto;
    border-radius: 0.4em;
    padding: .2em .2em;

    color: var(--w);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);

    display: flex;
    align-items: center;
}

.garantia-container img{
    width: 150px;
    height: 150px;
}

/* ==== PRODUCTO2 ==== */
.oferta-lista2 ul li{
    list-style: '✔ ';
}

.oferta-lista2 h1{
    font-size: 1.2rem !important;
}

.precio-green{
    background: #13b113 !important;
    text-decoration: none !important;
}

/* ==== Q&A ==== */
.section_QA{
    margin: 5em 0;
}

.section_QA h1{
    font-size: 1.5rem;
    text-align: center;
    padding: .7em 0.2em;
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

.QA_container{
    font-size: 1.2rem;
    display: grid;
    place-items: center;
    grid-gap: 2.5em;
    padding: 0 1em;
}

.pregunta{
    max-width: 600px;
    border: 3px solid transparent;
    border-image: linear-gradient(45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-image-slice: 1;
    padding: 0.3em;

    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;

    position: relative;
}

.pregunta::before,
.pregunta::after{
    --scale: 0;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(var(--scale));
    transition: 120ms transform;
    transform-origin: center;
}

.pregunta::before{
    content: attr(data-tooltip);
    padding: 1rem;
    width: 100%;
    max-width: 100%;
    height: 110%;
    max-height: 110%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);

    border-radius: 0.3rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 0;
}

.pregunta:hover::before{
    --scale: 1;
}


/* ==== FOOTER ==== */
footer{
    position: absolute;
    width: 100%;
    background: var(--void);
    margin-top: 2rem;
}

.footer-container{
    font-size: 1rem;

    margin: 1.2em auto;
    padding:1em 2em;
    color:var(--w2);
    max-width: 55em;
    text-align: center;
}

.fila h3{
    cursor: pointer;
}

.fila p{
    text-align: justify;
}

.botones a{
    cursor: pointer;
    text-decoration: none;
    color: var(--w2);
    padding: 1em;
    box-shadow: var(--shadow);
}

.custom-shape-divider-bottom-1629585552 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1629585552 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 73px;
}

.custom-shape-divider-bottom-1629585552 .shape-fill {
    fill: rgba(255, 255, 255, 0.24);
}