:root{
    --void: #212832;
    --void_transparent: rgba(14, 11, 22, 0.38);
    --void_blue: #393D46;
    --w: #EEEEEE;
    --w2: #e7dfdd;
    --fucshia: #ec5704;
    --blue: #0092CB;
    --transition: all 200ms ease-in-out;
    font-family: 'Georama', sans-serif;
}

/*:root{*/
/*    --void: #0e0b16;*/
/*    --void_transparent: rgba(14, 11, 22, 0.38);*/
/*    --void_blue: #101a3e;*/
/*    --w: #ffff;*/
/*    --w2: #e7dfdd;*/
/*    --fucshia: #FC427B;*/
/*    --blue: #4717f6;*/
/*    --transition: all 200ms ease-in-out;*/
/*    font-family: 'Georama', sans-serif;*/
/*}*/